@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  @apply flex flex-col items-center;

  overflow-x: hidden;
}

#root {
  @apply w-full max-w-screen-2xl;
}
